/**
 * Styles for the Realtime Q&A app
 *
 * @author Jason Lengstorf <jason@lengstorf.com>
 */

/*
fonts.com font-family rules.

Cooper Black
font-family:'Cooper Black W01';

News Gothic:
light: font-family:'NewsGothicNo.2W01-Light 710401';
light-italic: font-family:'NewsGothicNo.2W01-Light 710404';
roman: font-family:'NewsGothicNo.2W01-Roman';
italic: font-family:'News Gothic No.2 W01 It';
demi: font-family:'NewsGothicNo.2W01-Mediu 710407';
demi-italic: font-family:'NewsGothicNo.2W01-Mediu 710410';
bold: font-family:'NewsGothicNo.2W01-Bold';
bold-italic: font-family:'NewsGothicNo.2W01-BoldI';
*/


/* Basic Font Styles
 ----------------------------------------------------------------------------*/

body {
    font: 18px/24px 'NewsGothicNo.2W01-Roman';
    color: #1f1b0c;
    letter-spacing: .06em;
}

h1,h2,h3 {
    font-family: 'Cooper Black W01';
    font-weight: normal;
    text-shadow: 0 0 10px rgba(107, 94, 42, .6);
}

h1 {
    margin: 0;
    color: #fbf7e7;
    font-size: 6em;
    line-height: 1em;
    letter-spacing: -.1em;
}

h2 {
    margin: 0 0 .5em;
    font-size: 2.75em;
    line-height: 1em;
    letter-spacing: -.08em;
}

h3 {
    margin: 0 365px .75em 0;
    font-size: 1.875em;
    line-height: 1em;
    letter-spacing: -.08em;
    text-align: center;
}

p {
    text-align: center;
    margin: 0 365px 2em 0;
    padding: 0 6em;
}

a {
    font-family: 'NewsGothicNo.2W01-Mediu 710407';
    color: #e06f00;
    text-decoration: none;
}

a:active,a:hover,a:focus {
    text-decoration: underline;
    outline: none;
}

.tagline {
    font-family: 'NewsGothicNo.2W01-Light 710401';
    font-size: 1.1em;
    line-height: 1em;
    color: #fbf7e7;
    letter-spacing: .12em;
}

form p {
    margin: 0 0 1em;
    padding: 0;
    font-size: 1.375em;
}

label {
    font-family: 'NewsGothicNo.2W01-Bold';
    font-size: .75em;
    line-height: 1.25em;
    letter-spacing: .04em;
}

input {
    font-family: 'Cooper Black W01';
    color: #fbf7e7;
    background-color: #1f1b0c;
    border-radius: 6px;
    border: none;
    font-size: 1.75em;
    line-height: 1em;
    letter-spacing: -.08em;
    text-shadow: 0 0 10px rgba(107, 94, 42, .6);
}

label input {
    font-family: 'NewsGothicNo.2W01-Light 710401';
    font-size: 1.75em;
    letter-spacing: .08em;
    color: #1f1b0c;
    background-color: #fff;
}

section header h2 {
    font-size: 1.5em;
    line-height: 1.125em;
    letter-spacing: -.06em;
}

#questions li {
    font-size: 1.33em;
    letter-spacing: .1em;
}

#questions li:before {
    font-family: 'Cooper Black W01';
}

footer li {
    font-family: 'NewsGothicNo.2W01-Light 710401';
    font-size: .75em;
    line-height: 1em;
    letter-spacing: .04em;
    color: #fbf7e7;
}

footer li em {
    font-family: 'NewsGothicNo.2W01-Light 710404';
    font-style: normal;
}


/* Layout
 ----------------------------------------------------------------------------*/

html { background-color: #fbf7e7; }

body { margin: 0; }

header,footer,input,li:after {
    -webkit-box-shadow: 0 0 10px rgba(107, 94, 42, .6);
    -moz-box-shadow: 0 0 10px rgba(107, 94, 42, .6);
    -o-box-shadow: 0 0 10px rgba(107, 94, 42, .6);
    box-shadow: 0 0 10px rgba(107, 94, 42, .6);
}

header,footer {
    overflow: hidden;
    background: #1f1b0c;
    margin: 0;
    padding: 1em;
    text-align: center;
}

header {
    margin-bottom: 3em;
    padding: 3em 0 2em;
}

header h1,header p {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

header h1 { margin-bottom: .25em; }

section {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

form {
    float: left;
    width: 460px;
    text-align: center;
}

form#attending { float: right; }

label {
    display: block;
    width: 430px;
    margin: 0 auto 1em;
    text-indent: 2px;
    text-align: left;
}

input {
    margin: .25em 0 0;
    padding: .375em .875em;
}

input:active,input:hover,input:focus {
    background-color: #e06f00;
    outline: none;
}

input::-moz-focus-inner { border: 0; }

label input {
    display: block;
    width: 400px;
    margin: 0;
    padding: .375em 15px;
    border: 2px solid #1f1b0c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 2px 2px 14px rgba(107, 94, 42, .6),
        0 0 10px rgba(107, 94, 42, .6);
    -moz-box-shadow: inset 2px 2px 14px rgba(107, 94, 42, .6),
        0 0 10px rgba(107, 94, 42, .6);
    -o-box-shadow: inset 2px 2px 14px rgba(107, 94, 42, .6),
        0 0 10px rgba(107, 94, 42, .6);
    -ms-box-shadow: inset 2px 2px 14px rgba(107, 94, 42, .6),
        0 0 10px rgba(107, 94, 42, .6);
    box-shadow: inset 2px 2px 14px rgba(107, 94, 42, .6),
        0 0 10px rgba(107, 94, 42, .6);
}

label input:active,label input:focus {
    border-color: #e06f00;
    background-color: #fff;
    outline: none;
}

label input:hover { background-color: #fff; }

footer { margin-top: 6em; }

footer ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

footer li {
    float: right;
    list-style: none;
}

footer li.copyright { float: left; }


/* Questions View
 ----------------------------------------------------------------------------*/

section header {
    background: transparent;
    float: right;
    width: 340px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    overflow: visible;
}

section header h2 {
    margin: 0 0 .5em;
    text-align: left;
}

section header p {
    width: auto;
    margin: 0;
    text-align: left;
}

form#ask-a-question,#questions {
    width: 596px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#questions { padding-bottom: 1em; }

#ask-a-question label,#ask-a-question>input { float: left; }

#ask-a-question label { width: 460px; }

#ask-a-question label input {
    width: 430px;
    height: 1.7em;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#ask-a-question input {
    height: 1.55em;
    margin: 0.5em 0 0 0.5em;
    padding: 0.1em 0.75em;
}

#questions.closed { opacity: .4; }

#questions li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 1em 0 1em;
    overflow: hidden;
}

#questions li:before {
    content: attr(data-count);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5em;
}

#questions li:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    width: 500px;
    height: 2px;
    margin-left: -250px;
    background-color: #d9d4c3;
    opacity: .6;
}

#questions p {
    float: right;
    width: 77%;
    margin: .75em 0;
    padding: 0;
    text-align: left;
}

#questions .answer {
    float: right;
    display: block;
    width: 78px;
    height: 88px;
    margin: 0px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/sprite.jpg) right top no-repeat;
}

#questions .vote {
    background: url(../images/sprite.jpg) left top no-repeat;
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 0 0 2em;
    text-indent: -9999px;
    overflow: hidden;
}

#questions.closed .vote { opacity: .2; }

#questions a.answer:active,#questions a.answer:hover,#questions a.answer:focus,
#questions a.vote:active,#questions a.vote:hover,#questions a.vote:focus {
    background-position-y: bottom;
}

#questions.closed a.vote:active,#questions.closed a.vote:hover,
#questions.closed a.vote:focus {
    background-position-y: top;
    cursor: default;
}

#close-this-session {
    width: 340px;
    margin: 2em 0 0;
}

#close-this-session label input { width: 305px; }
