/*
 * Exercise 03-03, Realtime Web Apps
 *
 * @author Jason Lengstorf <jason@copterlabs.com>
 * @author Alex Newman <alex@copterlabs.com>
 */

html { background: #efefdc; }

body {
    width: 800px;
    margin: 40px auto;
    overflow: hidden;
    background: #def;
    border: 2px solid #779;

    /* Creates two shadow effects: outer and inner */
    -webkit-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    -moz-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    -o-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    -ms-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
}

section,aside {
    float: left;
    margin: 20px 30px 10px;
    padding: 20px 20px 10px;
    overflow: hidden;
    background: white;
    border: 1px solid #dfdfef;

    /* Creates two shadow effects: outer and inner */
    -webkit-box-shadow: inset 0 1px 4px #88a, 0 1px 10px white;
    -moz-box-shadow: inset 0 1px 4px #88a, 0 1px 10px white;
    -o-box-shadow: inset 0 1px 4px #88a, 0 1px 10px white;
    -ms-box-shadow: inset 0 1px 4px #88a, 0 1px 10px white;
    box-shadow: inset 0 1px 4px #88a, 0 1px 10px white;
}

section {
    width: 400px;
}

aside {
    width: 226px;
    margin-left: 0;
}

body,section,aside,input {
    /* Sets a border radius for every element that needs it */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

footer { margin: 0 0 10px; }

h1,h2 {
    margin: 20px 30px 10px;
    color: #446;
    font-weight: bold;
    font-family: georgia, serif;
}

h1 {
    font-size: 30px;
    line-height: 40px;
}

h2 {
    font-size: 18px;
}

label,li {
    display: block;
    margin: 0 0 10px;
    font: 15px/20px sans-serif;
    color: #557;
}

h1,label,input,li { text-shadow: 1px 1px 1px #88a; }

label input {
    display: block;
    width: 378px;
    border: 1px solid #dfdfef;
    padding: 4px 10px;
    font-size: 18px;
    line-height: 20px;

    /* Creates an inner shadow */
    -webkit-box-shadow: inset 0 1px 4px #88a;
    -moz-box-shadow: inset 0 1px 4px #88a;
    -o-box-shadow: inset 0 1px 4px #88a;
    -ms-box-shadow: inset 0 1px 4px #88a;
    box-shadow: inset 0 1px 4px #88a;
}

/* These MUST be separate rules to work */
input::-webkit-input-placeholder { color: #aac; text-shadow: none; }
input:-moz-placeholder { color: #aac; text-shadow: none; }
input:-ms-input-placeholder { color: #aac; text-shadow: none; }

input.input-submit {
    padding: 4px 30px 5px;
    background: #446;
    border: 1px solid #88a;
    color: #dfdfef;
    font: bold 18px/20px georgia,serif;
    text-transform: uppercase;

    /* Creates two shadow effects: outer and inner */
    -webkit-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    -moz-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    -o-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    -ms-box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
    box-shadow: 0 1px 6px #88a, inset 0 -1px 10px white;
}

aside h2,aside ul {
    margin: 0 0 10px;
}

aside ul {
    padding: 10px 0 0;
    border-top: 1px solid #dfdfef;
}

aside li {
    padding: 0 5px 10px;
    border-bottom: 1px solid #dfdfef;
}

footer {
    clear: both;
}

footer p {
    margin: 0;
    color: #889;
    font: italic 12px/1.67em sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}
